.fill-width {	
    max-width:100%;
    width:auto;
}

.fill-width-height {	
    max-width:100%;
    width:auto;
    max-height:100%;
    height:auto;
}

.fill-width-friends{
	max-width:100%;
    width:auto;
    max-height: 143px;
    margin: 10px 0px; 
}
 
.text-center {
	text-align: center;
	vertical-align: middle;
}

.text-justify {
	text-align:justify;
}

/***********   KORTELES  *********************/

.card_news {
    max-width:100%;
    width:auto;
	border: 2px black solid;
	height: 300px;
	background-color: black;
	margin: 10px;
}

.card-contacts {
    max-width:100%;
    width:auto;
	margin:3px;
	border: 2px black solid;
	height: 350px;
	margin: 10px;
}

.card-about {
    max-width:100%;
    width:auto;
	border: 2px black solid;
	height: 300px;
	margin: 10px;
}

.card-form {
    max-width:100%;
    width:auto;
	border: 2px black solid;
	height: 350px;
	margin: 10px;
}

.card {
    max-width:100%;
    width:auto;
	border: 2px black solid;
	height: 300px;
}

.card-header {
	line-height:18px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

.card-main {
	height: 220px;
	margin: 10px 20px 10px 20px;
	overflow: hidden;
}

.card-foto {
	margin: 3px;
	margin: 10px 50px 10px 50px;
	height: 100px;
}

.card-main-foto {
	height: 110px;
	margin: 10px 20px 10px 20px;
	overflow: hidden;
}

.card-button {
	height: 30px;
	font-size: 12px;
}

.contact-area {
	float:right;
}

.friend {
	background-color: lightgrey;
	border: grey 1px solid;
	border-radius: 5px;
	height: 40px;
	margin: 0 0 5px 0;
}

.col-sm-4 {
	/*padding-left:5px !important;
	padding-right:5px !important;*/
}

.container-fluid{
	padding: 0px !important;
}